[Unit]
Description=Configure Prowlarr with Radarr and Sonarr applications
After=radarr.service sonarr.service prowlarr.service
Requires=radarr.service sonarr.service prowlarr.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/configure-indexers.sh
RemainAfterExit=yes
FailureAction=exit
PassEnvironment=RADARR__SERVER__PORT RADARR__SERVER__URLBASE RADARR__AUTH__APIKEY SONARR__SERVER__PORT SONARR__SERVER__URLBASE SONARR__AUTH__APIKEY PROWLARR__SERVER__PORT PROWLARR__SERVER__URLBASE PROWLARR__AUTH__APIKEY

[Install]
WantedBy=multi-user.target
