[Unit]
Description=qBittorrent container for StarrStack
Requires=starrstack-pod.service
After=starrstack-pod.service

[Container]
Image=ghcr.io/alexandrefoley/qbittorrent
ContainerName=qbittorrent
Pod=starrstack.pod

Volume=./mounts/qbittorrent-config:/config:rw
Volume=./mounts/media:/media:rw

Environment=PUID=1000
Environment=PGID=1000
Environment=UMASK=002
Environment=TZ=Etc/UTC
Environment=WEBUI_PORTS=8080/tcp
Environment=LIBTORRENT=v2
Environment=WEBUI_USERNAME=starruser
Environment=WEBUI_PASSWORD=use-secrets-instead

[Service]
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
